*, *::after, *::before {
	box-sizing: border-box;
}

body {
	color: #f2f2f2;
	background-color: #808080;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(2, 4rem);
	grid-template-rows: 7rem 2rem 7rem;
}